@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
	font-family: 'Lora', Georgia, serif;
	width:700px;
	margin:0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

p, li {
  line-height: 26px;
}

a {
	text-decoration: none;
}


